<div class="header with-registration">
  <div class="container text-center">
    <div class="form-group">
      <h1 class="title">NodeSchool YQR</h1>
    </div>
    <div class="form-group logo-container">
      <img src="assets/images/nodeschool-yqr.png" alt="NodeSchool YQR " class="pull-left-lg event-logo" />
    </div>
    <!--<div class="form-group registration-content">
      <p class="event-registration-detail">
        Saturday, June 16th 2018 || 1PM - 4PM || The Rotunda - Innovation Place @ 10 Research Dr, Regina
      </p>
      <a href="register" class="btn btn-primary register-button" title="click here to register">
        Register
      </a>
    </div>-->
  </div>
</div>
