<div class="section mentors">
  <div class="section-content text-center">
    <h3 class="section-title">Meet The Mentors</h3>
    <p>&nbsp;</p>
    <div class="mentor-photos">
      <img src="assets/images/mentors/Craig.png" alt="mentor photo" title="Craig Norman" />
      <img src="assets/images/mentors/Derek.png" alt="mentor photo" title="Derek Sigmeth" />
      <a href="https://github.com/ampersandre" target="_blank"><img src="assets/images/mentors/Andre.png" alt="mentor photo" title="Andre Mougeot" /></a>
      <a href="https://github.com/dhruv-m-patel" target="_blank"><img src="assets/images/mentors/Dhruv.png" alt="mentor photo" title="Dhruv Patel" /></a>
      <br />
      <!--<img src="assets/images/mentors/Regan.png" alt="mentor photo" title="Regan Maloche" />
      <br />-->
      <img src="assets/images/mentors/Adam.png" alt="mentor photo" title="Adam Barrett" />
      <a href="https://github.com/nikkistonge" target="_blank"><img src="assets/images/mentors/Nikki.png" alt="mentor photo" title="Nikki St.Onge" /></a>
      <a href="https://github.com/jtodd3" target="_blank"><img src="assets/images/mentors/JT.png" alt="mentor photo" title="Josh Todd" /></a>
      <img src="assets/images/mentors/Vish.png" alt="mentor photo" title="Vishwanath Patel" />
    </div>
  </div>
</div>
