<div class="gray-section">
  <div class="text-center">
    <h2 class="section-title">Event Sponsored By</h2>
    <p>&nbsp;</p>
    <a href="https://gasbuddy.com" target="_blank">
      <img src="assets/images/sponsors/gb-logo-horizontal.png" alt="GasBuddy" class="img img-responsive sponsor-image" />
    </a>
    <!--<a href="http://www.innovationplace.com/" target="_blank">
      <img src="assets/images/sponsors/innovation-place.gif" alt="Innovation Place" class="img img-responsive sponsor-image" />
    </a>-->
  </div>
</div>
