@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

:root {
  --blue: #0096A9;
  --dark-green: #002530;
  --carmine-pink: #ee5340;
  --asphalt-gray: #4C4C4C;
  --white: #ffffff;
  --light-gray: #e5e5e5;
}


body {
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--asphalt-grey);
  line-height: 2em;
}

h1 {
  font-family: 'Open Sans Semibold', 'Open Sans', sans-serif;
  font-size: 38px;
}
h2 {
  font-family: 'Open Sans Bold', 'Open Sans', sans-serif;
  font-size: 36px;
}
h3 {
  font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  font-size: 36px;
}
h4 {
  font-family: 'Open Sans Semibold', 'Open Sans', sans-serif;
  font-size: 22px;
}
h4 {
  font-family: 'Open Sans Semibold', 'Open Sans', sans-serif;
  font-size: 18px;
}
h6 {
  font-family: 'Open Sans Light Italic', 'Open Sans', sans-serif;
  font-size: 18px;
}
p {
  font-family: 'Open Sans Light Italic', 'Open Sans', sans-serif;
}

a, a:active, a:hover {
  color: var(--blue);
}

.btn {
  border-radius: 25px;
}

.header {
  background: url('../images/Hero.png') no-repeat center top #0096A9;
  color: var(--white);
  min-height: 500px;
}

.header.with-registration,
.header.past-event-page-header {
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
  min-height: auto;
}

.header h1.title {
  font-size: 68px;
  font-weight: 500;
  text-transform: none;
  padding: 20px 0;
}

.header .logo-container .event-logo {
  width: 280px;
  height: 300px;
  margin: 20px 0;
}

.header p.event-registration-detail {
  font-size: 22px;
  font-weight: 100;
}

.register-button {
  font-size: 18px;
  min-width: 200px;
  margin: 10px 0;
  padding: 10px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.register-button:hover {
  background-color: var(--white) !important;
  color: var(--blue) !important;
}

.page-content,
.page-content-after-registration,
.past-event-page-content {
  background: #fff;
  min-height: 800px;
}
.page-content-after-registration {
  margin-top: 620px;
}
.past-event-page-content {
  margin-top: 500px;
}
.page-content {
  margin-top: 20px;
}

.section {
  border-top: 25px solid var(--dark-green);
  padding-top: 45px;
}

.section-header, .section-content {
  padding: 0 50px;
}

.section-title {
  color: var(--blue);
}

.section-content {
  line-height: 2em;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.sub-section-with-bkg {
  background: url('../images/InfoBg.png') repeat-x transparent;
}

.sub-section-content {
  padding: 20px 50px;
}

.no-padding {
  padding: 0;
}

.gray-section {
  background-color: var(--light-gray);
  padding: 50px 0;
  font-size: 22px;
  font-weight: 100;
}

.gray-section .section-title {
  font-size: 52px;
}
.gray-section .register-button,
.gray-section .register-button:hover {
  background-color: var(--carmine-pink) !important;
  color: var(--white) !important;
  font-size: 22px;
  border: 0 none;
  padding: 10px 30px;
}

.green-section {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 50px 50px 0 50px;
}

.green-section a {
  color: var(--white);
  font-size: 22px;
  font-weight: 100;
}

.sponsor-image {
  max-width: 30%;
}

.mentor-section {
  padding: 50px;
}

.mentor-photos img {
  max-width: 167px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)  {

}

div.tito-wrapper {

}
